    @font-face {
        font-family: "Fake Identity" ;
        src: url("fonts/The\ Amazing\ Spider-Man.ttf");
    }

h1{

    color: rgb(255, 0, 0);
    letter-spacing: 20px;
    word-spacing: 20px;
    font-family: "Fake Identity";
}

p{
    text-indent: 50px;
    text-align: center ;

}

h2{
    text-decoration: line-through;
}

h3{
    text-decoration: overline;
}

h4{
    text-decoration: underline;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

.myELEMENTS{
    color: blue;
}


#normalTEXT{
    font-style: normal;
    font-weight: normal;
}

#italicTEXT{
    font-style: italic;
    font-weight: bold;
}

#obliqueTEXT{
    font-style: oblique;
    font-weight: 600;
}


.a{
    color: blue;
}